.Polaris-Link{
  color: #000;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.Polaris-Frame__TopBar {
  z-index: 9999999999;
  height: 4rem;
  background: #fbfbfb;
}

.HeaderArea {
  grid-area: header;
  grid-row-start: header;
  grid-column-start: header;
  grid-row-end: header;
  grid-column-end: header;
  position: relative;
  width: 100%;
  z-index: 50;
} 

.ExitAction {
    &::after{
      background-color: #999;
      bottom: 0;
      content: "";
      position: absolute;
      right: -0.0625rem;
      top: 0;
      transition: 0.7;
      width: 0.0625rem;
    }
    
}

.shrink {
  flex-shrink: 1;
}

.TopBar {
  border: 0;
  box-shadow: 0 2px 1px #0000000d, 0 0 1px #42474c73;
  position: relative;
}

.nav-sidebar{
  list-style: none;
  z-index: 9999;
}


.ListItemWrapperContainer:hover > .icon-sortable-wrapper{
  visibility: visible !important;
}

.collapse {
  transform: scaleY(1);    
  transform-origin: top;
  transition: all 1500ms ease;
  overflow: hidden;
  &.hidden {
    transform: scaleY(0);
    height: 0;
  }
}


.removeUnderline{
  text-decoration: none;
  color: #282c34;
}

.capitalize {
  text-transform: CAPITALIZE;
}

.border-bottom{
  border-bottom: 0.0625rem solid var(--p-divider);
  padding: 10px 10px;
  
}

.flex {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.link {
  cursor: pointer;
}

.has-toggle {
  .Polaris-Collapsible {
    border-bottom: 0.0625rem solid var(--p-divider);
    
    &[aria-hidden="false"]{
      max-height: none !important;
    }
  }
}

option[value=arial]{
  font-family:arial;
}

option[value='arial black']{
  font-family:'arial black';
}

option[value="comic sans ms"]{
  font-family:'comic sans ms';
}

option[value="georgia"]{
  font-family:georgia;
}

option[value="courier new"]{
  font-family:"courier new";
}

option[value="helvetica"]{
  font-family:"helvetica";
}

option[value="impact"]{
  font-family:"impact";
}

option[value="serif"]{
  font-family:"serif";
}

option[value="times new roman"]{
  font-family:"times new roman";
}

option[value="trebuchet ms"]{
  font-family:"trebuchet ms";
}

option[value="verdana"]{
  font-family:"verdana";
}

.container-fields {

  .Polaris-RangeSlider{
    margin-bottom: 10px;
  }
}
.Polaris-Frame--hasNav .Polaris-Frame__Main { 
  padding-top: 3.9rem;
}


@media (min-width: 48.0625em) { 
  .Polaris-Frame--hasNav .Polaris-Frame__Main { 
    padding-left: 15rem; 
    padding-left: 240px; 
    padding-left: calc(18.75rem + constant(safe-area-inset-left)); 
    padding-left: calc(18.75rem + env(safe-area-inset-left)); 
  } 
}


#AppFrameNav {
    width: 18.75rem;
}


.sa-shopify-hover-block {
  position: absolute;
  box-sizing: border-box;
  border-width: var(--border-width);
  pointer-events: none;
  border-color: rgb(69, 143, 255);
  border-style: solid;
  border-radius: 0px 3px 3px;
  --border-color: #458FFF;
  --border-width: 2px;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  div {
    position: absolute;
    left: calc(0px - var(--padding) - var(--border-width));
    top: calc(0px + var(--padding) - var(--border-width));
    transform: translateY(-100%);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 90%;
    padding: 0 var(--padding) var(--padding);
    z-index: 1;
    pointer-events: all;
    --padding: 5px;
  }
}

